
<div class="row">

    <div class="col-sm-12 col-md-12 col-xs-12" style="padding-bottom:7px;">
        <button [hidden]="disabled" type="button" class="btn btn-primary  btn-sm" (click)="SaveGroup()" [disabled]="!formCtrl.form.valid || validForm">Save</button>
        <button routerLink="/allocation" type="button" class="btn btn-primary btn-sm">Back</button>
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 dynamicBottomDiv">
        <div class="row " style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-sm-12 col-md-12 col-xs-12 ">
                <div class="card">
                    <div class="card-header">
                        <strong>Allocation </strong>
                        <small>Details</small>
                        <small *ngIf="pageObject.UpdatedOn" style="float:right">Last updated on <u>{{pageObject.UpdatedOn | date :  "MMM d y"}}</u>, by <u>{{pageObject.UpdatedByName}}</u> </small>
                    </div>
                    <div class="card-body">
                        <form form #formCtrl="ngForm" ngNativeValidate>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <ngx-label value="Start Date"></ngx-label>
                                        <input #StartDate="ngModel" required type="date" [ngModel]="pageObject.StartDate | date:'yyyy-MM-dd'" (ngModelChange)="pageObject.StartDate = $event" class="form-control form-control-sm" name="StartDate" placeholder="Enter Start Date" />
                                        <div *ngIf="StartDate.errors">
                                            <div *ngIf="StartDate.errors.required && (StartDate.dirty || StartDate.touched)" class="error">
                                                Start Date is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ngx-label value="Employee"></ngx-label>
                                        <select (ngModelChange)="EmployeeDownChange($event)" #EmployeeId="ngModel" [(ngModel)]="pageObject.EmployeeId" name="EmployeeId" class="form-control form-control-sm" style="width:100%;" required placeholder="Enter Employee Name">
                                            <option *ngFor="let item of pageObject.SelectListEmployee" [selected]="item.Id == pageObject.EmployeeId" [value]="item.Id">{{item.FullName}}</option>
                                        </select>
                                        <div *ngIf="EmployeeId.errors && (EmployeeId.dirty || EmployeeId.touched)" class="error">
                                            Employee Name is required
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ngx-label value="Project Role"></ngx-label>
                                        <select #ProjectRoleId="ngModel" [(ngModel)]="pageObject.ProjectRoleId" name="ProjectRoleId" class="form-control form-control-sm" required style="width:100%;">
                                            <option *ngFor="let item of pageObject.SelectListMasterProjectRole" value="{{item.Id}}">{{item.Role}}</option>
                                        </select>
                                        <div *ngIf="ProjectRoleId.errors && (ProjectRoleId.dirty || ProjectRoleId.touched)" class="error">
                                            Project Type is required
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <ngx-label value="Project"></ngx-label>
                                        <select #ProjectId="ngModel" [(ngModel)]="pageObject.ProjectId" name="ProjectId" class="form-control form-control-sm" required style="width:100%;">
                                            <option *ngFor="let item of pageObject.SelectListProject" value="{{item.Id}}">{{item.ProjectName}}</option>
                                        </select>
                                        <div *ngIf="ProjectId.errors && (ProjectId.dirty || ProjectId.touched)" class="error">
                                            Project is required
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" [ngModel]="pageObject.EndDate | date:'yyyy-MM-dd'" (ngModelChange)="pageObject.EndDate = $event" class="form-control form-control-sm" name="EndDate" placeholder="Enter End Date" />
                                    </div>
                                    <div class="form-group">
                                        <ngx-label value="Allocation Percentage"></ngx-label><span style="float:right">[ Total Allocation : {{pageObject.ExistingAllocation}}% ]</span>
                                        <input maxlength="3" pattern="[0-9]+" (keyup)="ValidateAllocation()" type="text" #PercentageAllocation="ngModel" [(ngModel)]="pageObject.PercentageAllocation" class="form-control" required name="PercentageAllocation" placeholder="Enter Allocation Percentage" />
                                        <div *ngIf="PercentageAllocation.errors">
                                            <div *ngIf="PercentageAllocation.errors.required && (PercentageAllocation.dirty || PercentageAllocation.touched)" class="error">
                                                Allocation Percentage is required
                                            </div>
                                            <div *ngIf="PercentageAllocation.errors.pattern && (PercentageAllocation.dirty || PercentageAllocation.touched)" class="error">
                                                Please enter valid Allocation Percentage
                                            </div>
                                        </div>
                                        <div *ngIf="allocationPercentageError != ''" class="error">
                                            {{allocationPercentageError}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Is Billable</label><br />
                                        <label class="switch switch-3d switch-success switch-sm">
                                            <input type="checkbox" class="switch-input" [(ngModel)]="pageObject.IsBillable" name="IsBillable">
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                    <div ngx-rights="403|Delete" class="form-group">
                                        <label for="name">Is Valid Allocation</label><br />
                                        <label class="switch switch-3d switch-success switch-sm">
                                            <input type="checkbox" class="switch-input" [(ngModel)]="pageObject.IsValid" name="IsValid">
                                            <span class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>



                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
