<style type="text/css">
    .Child-item
{
    padding-left:10px;
}
</style>

<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav mr-auto d-md-down-none">
        <li class="nav-item">
            <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto" style="padding-right:20px">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <img [src]="user.PhotoUrl" class="img-avatar" alt="">
                <span class="d-md-down-none">{{user.DisplayName}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <div class="dropdown-header text-center"><strong>Account</strong></div>
                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                <a (click)="Logout()" class="dropdown-item" href="javascript:void(0);"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Admin</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item Child-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/group']"><i class="icon-arrow-right"></i> Group</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-user"></i> Master</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item Child-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/department']"><i class="icon-arrow-right"></i> Department</a>
                        </li>
                        <li class="nav-item Child-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/organizationrole']"><i class="icon-arrow-right"></i> Organization Role</a>
                        </li>
                        <li class="nav-item Child-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/skill']"><i class="icon-arrow-right"></i> Skill</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.conainer-fluid -->
    </main>
    <global-bootstrapmodal></global-bootstrapmodal>
</div>
<footer class="app-footer">
    <span><a href="#">Cuelogic Resource Management</a></span>
    <span class="float-right"> <a href="http://www.cuelogic.com/">Cuelogic Technologies Pvt. Ltd. </a>  &copy; 2018</span>
    <!--<span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>-->
</footer>
