
<div class="row">

    <div class="col-sm-12 col-md-12 col-xs-12" style="padding-bottom:7px;">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xs-12">
                <button ngx-rights="201|Write" [hidden]="disabled" [disabled]="GroupId == 0" type="button" class="btn btn-primary  btn-sm" (click)="SaveGroup()">Save</button>
            </div>
            <div class="col-sm-12 col-md-6 col-xs-12">

                <select (ngModelChange)="DropDownChange($event)" [(ngModel)]="GroupId" name="GroupId" class="form-control form-control-sm" placeholder="SelectGroup">
                    <option selected="selected" value="0">Select Group</option>
                    <option *ngFor="let item of pageObject.GroupList" [value]="item.Id">{{item.GroupName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 dynamicBottomDiv">
        <div class="row " style="border-top:1px solid #ddd; padding-top:7px">
            <div class="col-sm-12 col-md-12 col-xs-12 ">

                <div class="card">

                    <div class="card-header">
                        <strong>User Group </strong>
                        <small>Details</small>
                        <!--<small *ngIf="pageObject.Employee.UpdatedOn" style="float:right">Last updated on <u>{{pageObject.Employee.UpdatedOn | date :  "MMM d y"}}</u>, by <u>{{pageObject.Employee.UpdatedByName}}</u> </small>-->
                    </div>
                    <div class="card-body" style="padding-top:0px">

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-xs-12">
                                <div style="padding:5px"><b>Employees</b></div>

                                <div style="width:100%;height:300px; border:1px solid #ddd">
                                    <div ngx-rights="201|Write" class="input-group input-sm ">
                                        <input [(ngModel)]="filterText" type="email" id="input2-group2" name="" class="form-control form-control-sm" placeholder="Search Text">
                                        <span class="input-group-append">
                                            <button (click)="SearchFilter()" type="button" title="Search" class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
                                        </span>
                                        <span class="input-group-append">
                                            <button (click)="ClearFilter()" title="Clear" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button>
                                        </span>
                                        <span class="input-group-append">
                                            <button [disabled]="GroupId == 0" (click)="AddEmployeeToGroup()" style="width:100%" type="button" class="btn btn-primary btn-sm">Add >></button>
                                        </span>
                                    </div>
                                    <table class="CustomeTable" style="width:100%">
                                        <tr>
                                            <th style="text-align:center;width:20%;">Select</th>
                                            <th style="width:80%;">Employee Name</th>
                                        </tr>
                                        <tbody>
                                            <tr *ngFor="let item of pageObject.EmployeeList">
                                                <td style="text-align:center"><input [(ngModel)]="item.IsChecked" name="IsChecked" type="checkbox" /></td>
                                                <td>{{item.FullName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-xs-12">
                                <div style="padding:5px"><b>Group Members</b></div>
                                <button [disabled]="GroupId == 0" ngx-rights="201|Write" (click)="RemoveGroupMember()" style="width:100%" type="button" class="btn btn-primary btn-sm"><< Remove Group Member</button>
                                <div style="width:100%;height:300px; border:1px solid #ddd">
                                    <table class="CustomeTable" style="width:100%">
                                        <tr>
                                            <th style="text-align:center;width:20%;">Select</th>
                                            <th style="width:60%;">Employee Name</th>
                                            <th style="text-align:center;width:20%;">Is Valid</th>
                                        </tr>
                                        <tbody>
                                            <tr *ngFor="let item of pageObject.GroupMemberList" [class]="(item.IsValid == false)?'notValid':''">
                                                <td style="text-align:center">
                                                    <input [(ngModel)]="item.IsChecked" name="IsChecked" type="checkbox" />
                                                </td>
                                                <td>{{item.FullName}}</td>
                                                <td style="text-align:center;"><input [(ngModel)]="item.IsValid" name="IsValid" type="checkbox" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
