<div class="container">
    <div class="row" style="padding-bottom:7px;">

        <div class="col-sm-12 col-md-7 col-xs-12">
            <div class="row">

                <div class="col-sm-6 col-md-7 col-xs-6">
                    <div class="row">
                    </div>
                </div>
                <div class="col-sm-6 col-md-1 col-xs-6">
                    <div class="row" style="vertical-align:middle;line-height:2.5;">
                        <span>Show</span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6" style="">
                    <div class="row">

                        <select class="form-control" id="ccyear" style="width:100%;">
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5 col-xs-12">
            <div class="row">
                <div class="input-group input-sm ">
                    <input type="email" id="input2-group2" name="" class="form-control" placeholder="Filter">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-primary ">Search</button>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>


<table class="table table-sm table-hover  ">
    <thead class="thead-light">
        <tr>
            <th><button (click)="NewRecord()" type="button" title="New Record" class="btn btn-sm btn-success">New Record&nbsp;<i class="fa fa-plus"></i></button></th>
            <th>Group Name</th>
            <th>Group Description</th>
            <th>
                Is Valid
            </th>
            <th>
                Created By
            </th>
            <th>
                Created On
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of GroupList">
            <td>
                <button (click)="EditRecord(item.Id)" type="button" title="Edit Record" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i></button>
                <button (click)="ViewRecord(item.Id)" type="button" title="View Record" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button>
                <button (click)="DeleteRecord(item.Id)" type="button" title="Delete Record" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
            </td>
            <td>
                {{item.GroupName}}

            </td>
            <td>
                {{item.GroupDescription}}
            </td>
            <td>
                {{item.IsValid}}
            </td>
            <td>
                {{item.Name}}
            </td>
            <td>
                {{item.CreatedOn}}
            </td>
        </tr>
    </tbody>
</table>
<!--  -->
