<connectionStrings>
  <add name="MySqlConnectionString" connectionString="Database=CuelogicResourceManagement;Data Source=localhost;User Id=root;Password=Cuelogic;Convert Zero Datetime=True" />
<add name="MySqlConnectionStringDev" connectionString="Database=CuelogicResourceManagementDev;Data Source=localhost;User Id=root;Password=Cuelogic;Convert Zero Datetime=True" />
</connectionStrings>